
database/

boaideia-backend/**/bin/

boaideia-backend/**/obj/

boaideia-frontend/package-lock.json

boaideia-frontend/yarn.lock

boaideia-frontend/.env

boaideia-backend/.vs/

boaideia-frontend/.vscode/

boaideia-backend/BoaIdeia.Api/appsettings.json
