.button{
    padding: .7rem;
    border-radius: .3rem;
    text-transform: uppercase;
    transition: .2s linear all;
    width: 100%;
    display: block;
    outline: none;
}
.buttonPrimary{
    color: white !important;
    background-color: var(--primary);
}

.buttonOutlined{
    color: var(--primary) !important;
    background-color: white;
    border:  2px solid var(--primary);
    opacity: .8;
}

.buttonPrimary:hover{
    background-color: var(--primary-strong);
    transform: scale(1.02);
}

.buttonOutlined:hover{
    transform: scale(1.02);
    color: var(--primary) !important;
    background-color: white;
    border:  2px solid var(--primary-strong);
    opacity: 1;
}