.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container:focus-within label{
    color: var(--primary);
}

.input{
    border: 2px solid var(--text-weak);
    padding: .8rem;
    border-radius: .5rem;
    outline: none;
    color: var(--text);
    transition: 0.4s all;
    border-color: inherit;
}
.label{
    color: var(--text-weak);
    font-weight: 600;
    transition: 0.4s all;
}
.input:focus{
    border: 2px solid var(--primary);
}

.input {
    font-family: Roboto, sans-serif;
}
