.container{
    min-height: calc(100vh - 63px - 253px);
}


.startup{
    display: flex;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form{
    border: 2px solid rgba(20, 20, 0, 0.4);
    max-width: "540px";
    padding: 3rem 1.5rem;
    margin-top: 3.5rem;
    min-width: 500px;
}

.left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text{
    font-size: 2rem;
    max-width: 430px;
}