

/* colors */

:root {
  --black:#141400;
  --black-weak:#3e3e3c;
  --purple: #4D3EFB;
}

/* flex */



.flex {
  display: flex;
}
.flex-gap1{
  display: flex;
  gap: .5rem;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* css reset */

html,
body {

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button{
  border: none;
  cursor: pointer;
}
ul{
  list-style: none;
}