.container{
    display: flex;
    height: 100vh;
    padding: 2rem;
}
.apresentacao{
    flex: 1;
}

.loginCadastro {
    min-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}